<div id="<%= dom_id administrador %>">
  <p>
    <strong>Username:</strong>
    <%= administrador.username %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= administrador.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= administrador.password %>
  </p>

  <p>
    <strong>Password confirmation:</strong>
    <%= administrador.password_confirmation %>
  </p>

</div>
